[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros
[submodule "src/ros2_pupil_neon"]
	path = src/ros2_pupil_neon
	url = https://github.com/enunezs/ros2_pupil_neon
[submodule "src/stag_ros"]
	path = src/stag_ros
	url = https://github.com/usrl-uofsc/stag_ros.git
[submodule "src/ros2_aruco"]
	path = src/ros2_aruco
	url = https://github.com/enunezs/ros2_aruco.git
